{# src/SH/NewsBundle/Resources/views/editstatic.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }} -
{% endblock %}

{% block body %}

  <h2>Modification de la page {{ staticpage.namePage }}</h2>

  {{ include("CoreBundle::formstatic.html.twig") }}

  <p>
    <a href="{{ path('sh_core_static', {'namestatic': staticpage.namePage}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour
    </a>
  </p>

{% endblock %}