.jumbotron {
    background-image: url("http://pokemontrash.com/news/16c27091ff082fcd177b9a29797a5cc0cc3020a6.png");
    background-size: cover;
    background-color: grey;
    color: white;
}
.modal-header{
    margin: 0 auto;
}
#modal_login input{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px dotted #2196f3 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}

#modal_login .modal-title {
    color: #2196f3;
    margin-bottom: 10px;
    text-align: center;
}